<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Average</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% top.each do |top| %>
      <tr>
        <td><%= top.name %></td>
        <td><%= round(top.average_rating) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
